@import url(https://fonts.googleapis.com/css?family=Roboto);

.tab-list {
    padding-left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  
  .tab-list-item {
    display: inline-grid;
    list-style: none;
    padding: 1rem 4.5rem 1rem 4.5rem;
    cursor: pointer;
    color: #515050;
    text-align: center;
    justify-items: center;
    font-size: larger;
    font-weight: bold;
  }
  
  .tab-list-item img {
    max-width: 60px;
    max-height: 60px;
  }
  
  .tab-list-active {
    color: #2867B2;
    border-bottom: 3px solid #2867B2;
  }


  .top-container {
    background-color: white;
  }

  .tabs {
    border: #2867B2;
  }

  ol {
    margin-top: 0;
    margin-bottom: 0;
  }