
.employment-history-card {
  min-width: 100%;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(81, 80, 80, 0.08);
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.employment-container {
  margin-bottom: 5%;
}

.employment-image {
  padding-bottom: 10px;
}

.employment-image  img {
  max-width: 60px;
  max-height: 60px;
  
}

.employment-history-card:hover {
  box-shadow: 0px 0px 0px rgba(81, 80, 80, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.company-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.company-row{
  justify-content: center;
}

.employment-row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.employment-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #515050;
}

.employment-location {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #515050;
}

.employment-designation {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #515050;
}

.employment-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 5px;
  color: #515050;
}

.employment-time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 5px;
  color: #515050;
}

   /* Portrait */
   @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 667px) 
   and (-webkit-min-device-pixel-ratio: 2)
   and (orientation: portrait) { 
     .employment-history-card {
       width: 300px;
       text-align: center;
     }

     .employment-container {
       margin-left: auto;
       margin-right: auto;
     }

     .employment-image  img {
      max-width: 100px;
      max-height: 100px;
      
    }
    .employment-title {
      font-size: 16px;
      line-height: 22px;
    }

    .employment-time {
      font-size: 14px;
      line-height: 22px;
    }
    .employment-designation {
      font-size: 16px;
      line-height: 22px;
    }

    .employment-description {
      font-size: 14px;
      line-height: 20px;
    }

    .employment-location {
      padding-top: 10px;
      font-size: 14px;
      line-height: 18px;
    }
   }