@import url(https://fonts.googleapis.com/css?family=Roboto);

.side-menu-card-container {
  display: block;
  max-width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.side-menu-card {
  max-width: 100%;
  height: auto;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 10px 15px rgba(81, 80, 80, 0.08);
  border-radius: 10px;
  margin-right: auto;
  margin-left:  auto;
  padding: 15px;
  margin-bottom: 50px;
}

.side-menu-content {
  margin: 5%;// margin-top: 26%;
}

.side-menu-list {
  padding: 0px;
}

.side-menu-item-link{
  text-decoration:none;
  color: #595959;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.side-menu-item {
  display: block;
  text-align: center;
  transition: 0.5s;
  margin-bottom: 10px;
}

.side-menu-item-active {
  display: block;
  text-align: center;
  border-radius: 5px;
  color: #2867B2;
  margin-bottom: 10px;
  background-color: rgb(243, 246, 250);
}

.side-menu-item:hover {
  color: #2867B2;
  background-color: rgb(243, 246, 250);
  border-radius: 10px;
}

.text-space{
  margin-bottom: 7px;
}

.side-menu-item-link:hover {
  color: rgba(254, 133, 65, 0.72);
}

.side-menu-item-image img {
  max-width: 70px;
  max-height: 70px;
}

.side-menu-item-image {
  width: 100%;
}